{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
  <div class="example-wrapper">
      <h1>Shoppingcart!</h1>

      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Pay</th>
          </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for array in cart %}
        <tr>
          <td> {{ array.name }} </td>
          <td> {{ array.price }} </td>
          <td> {{ array.quantity }} </td>
          <td> € {{ array.quantity * array.price }},-</td>
          {% set total = total + (array.quantity * array.price) %}
        {% else %}
          <td colspan="3">no records found</td>
        {% endfor %}
          <td><a class="btn btn-primary" href="{{ path('pay')}}">Pay</a></td>
        </tr>
        </tbody>
      </table>
  </div>
{% endblock %}
